/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: relative;
  width: 90px;
  padding: 1rem;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  margin-top: 8rem;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.linkedin {
  background: #007bb5;
  color: white;
  border-radius: 1rem;
}

.youtube {
  background: #bb0000;
  color: white;
  border-radius: 1rem;
}

.github {
  background: purple;
  border-radius: 1rem;
  color: white;
}
