#about {
  /* background-color: darkslategray; */
  background-image: url("./img/about-bgpic.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.aboutTitle {
  font-size: 40px;
  display: inline-block;
  background-color: orange;
  box-shadow: grey 0px 0px 10px;
  color: inherit;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0.5rem;
  padding: 20px;
  margin-bottom: 35px !important;
  margin-top: 50px !important;
  border: 5px solid black;
}

.parentDiv {
  text-align: center;
}

.about-me-text-div {
  display: inline-block;
  background-color: orange;
  box-shadow: grey 0px 0px 10px;
  color: rgb(0, 0, 0);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0px !important;
  width: 65%;
  border: 5px solid black;
}

.text-container {
  text-align: center;
}

#profilePic {
  height: 280px;
  border-radius: 1rem;
  padding: 1px;
  border: 1px solid #021a40;
  float: left;
  margin-left: 2rem;
}

.dotted {
  margin-top: 4rem;
}

.about-me-content {
  margin-top: 1rem;
}
