.background-image-contact {
  /* background-color: darkslategray; */
  background-image: url("./img/N9oBIc.png");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#contact {
  text-align: center;
  padding-top: 2rem;
}

.contactH2 {
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: 2rem;
  font-size: 40px;
  background-color: orange;
  box-shadow: grey 0px 0px 10px;
  border-radius: 0.5rem;
  padding: 20px;
  margin-bottom: 35px !important;
  margin-top: 50px !important;
  border: 5px solid black;
  width: 35%;
  margin: auto;
  text-align: center;
}

.h2TitleDiv {
  text-align: center;
}

.container-contact {
  width: 41%;
  display: inline-block;
  background-color: orange;
  box-shadow: grey 0px 0px 10px;
  color: rgb(0, 0, 0);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0px !important;
  border: 5px solid black;
  text-align: left;
}

a.link {
  color: black !important;
}

#submitBtn {
  color: white;
}
